#root {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  -ms-overflow-style: none;
}

#root::-webkit-scrollbar {
  display: none;
}

body {
  height: 100vh;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: top;
}

a {
  color: rgba(0, 0, 0, 0.993) !important;
}

.brand {
  font-family: 'Satisfy', cursive;
  font-size: 6rem;
  text-align: center;
  color: rgb(0, 0, 0);
}

h1.brand {
  font-family: 'Satisfy', cursive;
  font-size: 10rem;
  text-align: center;
  color: rgb(255, 255, 255) !important;
}

table>tbody>tr>td:first-child {
  font-size: .8rem !important;
  color: rgb(79, 7, 97) !important;
}

table>tbody>tr>td:nth-child(2) {
  font-size: .8rem;
  color: rgb(0, 0, 0) !important;
}

.artDate, 
.artTitle {
  padding: 0;
  margin: 0;
  font-size: .9rem;
}

.artDate {
  color: rgba(155, 155, 155, 0.993);
  font-style: italic;
}

.titleWrapper {
  text-align: center;
}

.ui.button {
  margin: auto .1rem !important;
}

.ui.container {
  position: relative;
}

.ui.grid {
	height: 100%;
}

.ui.grid>.row {
  align-items: center !important;
  justify-content: center !important;
  padding: 0 !important;
  margin: 0 !important;
}

.ui.grid>.row>.column {
	padding: 0 !important;
	margin: 0 !important;
}

.ui.grid>.row.head {
  justify-content: center !important;
  align-items: flex-end !important;
  height: 20vh !important;
  z-index: 1;
}

.ui.grid>.row.body {
  height: 80vh;
	width: 100%;
  padding: 0 !important;
  margin: 0 !important;
  align-items: flex-start !important;
  justify-content: flex-start !important;
}

.ui.grid>.row.timer-bar {
  height: 2vh;
  position: fixed;
  top: 0;
  left: -1px;
  right: -1px;
  margin: 0 !important;
  padding: 0 !important;
}

.ui.grid>.row.timer-bar>.ui.progress {
  align-items: flex-end !important;
  justify-content: flex-start !important;
  width: 100% !important;
  z-index: 10;
}

.ui.timer-controller {
  width: 100%;
  flex-direction: row !important;
  justify-content: space-evenly;
  position: absolute;
  top: .1rem;
  z-index: 2;
}

.ui.timer-controller > .ui.button {
  margin: 0 !important;
}

.ui.timer-controller > .ui.button:hover,
.ui.timer-controller > .ui.button:focus,
.ui.timer-controller > .ui.button:active {
  color: rgb(79, 7, 97) !important;
  transition: 0.5s;
}

.ui.page-controls {
  position: absolute;
  display: flex;
  top: 1rem;
  right: 0;
  align-items: center;
  justify-content: center;
}

.ui.table {
  background: transparent !important;
}

.ui.image {
  max-height: 400px;
	margin-top: 1rem !important;
  box-shadow: 1px 2px 10px rgba(0,0,0,0.8);
}

.ui.image.label {
  margin: .3rem !important;
}

.ui.menu.borderless {
  background: none;
  box-shadow: none;
  border: none;
  margin: 3rem 0;
  justify-content: center;
}

.ui.segment {
  padding: 0 !important;
  box-shadow: none !important;
  border: none !important;
  background: transparent !important;
}

.ui.dimmer {
  width: 100%;
  height: 100vh !important;
  position: fixed !important;
}

.ui.dimmer .ui.loader {
  margin-top: -12rem !important;
}

.ui.dimmer .ui.loader:before {
  border-color: rgba(41, 255, 137, 0.993) !important;
}

@media only screen and (min-width: 768px) {
  .infoWrapper {
    justify-content: flex-end !important;
    align-items: flex-end !important;
    min-width: 360px;
    max-width: 480px;
    margin-top: 1.5rem !important;
  }
}

@media only screen and (max-width: 768px) {
	.ui.container {
		padding: 2rem !important;
	}

	.ui.menu .item {
		margin: 1rem 0;
	}

	.ui.horizontally.divided.grid {
    padding: 2rem !important;
  }

  .item__fluid > a{
    text-align: center !important;
  }

  .infoWrapper {
    position: relative;
    top: 1rem;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}