@import url('https://fonts.googleapis.com/css?family=Seaweed+Script&display=swap');

#root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}

body {
  height: 100%;
}

a {
  color: rgba(0, 0, 0, 0.993) !important;
}

h1.brand {
  font-family: 'Seaweed Script', cursive;
  font-size: 10rem;
  text-align: center;
  color: rgb(255, 255, 255) !important;
}

.brand {
  font-family: 'Seaweed Script', cursive;
  font-size: 5rem;
  text-align: center;
  color: rgb(0, 0, 0);
}

.artDate, 
.artTitle {
  padding: 0;
  margin: 0;
  font-size: .9rem;
}

.artDate {
  color: rgba(155, 155, 155, 0.993);
  font-style: italic;
}

.titleWrapper {
  text-align: center;
}

table>tbody>tr>td:first-child {
  font-size: 1rem !important;
  color: rgb(79, 7, 97) !important;
}

table>tbody>tr>td:nth-child(2) {
  font-size: 1rem;
  color: rgb(0, 0, 0) !important;
}

.ui.grid>.row {
  padding: .5rem !important;
}

.ui.table {
  background: transparent !important;
}

.ui.image {
  max-width: auto;
  max-height: 500px !important;
  box-shadow: 1px 2px 10px rgba(0,0,0,0.8);
}

.ui.image.label {
  margin: .3rem !important;
}

.ui.menu.borderless {
  background: none;
  box-shadow: none;
  border: none;
  margin: 3rem 0;
  justify-content: center;
}

.ui.segment {
  padding: 0 !important;
  box-shadow: none !important;
  border: none !important;
  background: transparent !important;
}

.ui.dimmer {
  width: 100%;
  height: 100vh !important;
  position: fixed !important;
}

.ui.dimmer .ui.loader {
  margin-top: -12rem !important;
}

.ui.dimmer .ui.loader:before {
  border-color: rgba(41, 255, 137, 0.993) !important;
}

@media only screen and (min-width: 992px) {
  .infoWrapper {
    position: fixed;
    float: right;
    right: 3rem;
    bottom: 3rem;
    max-width: 480px;
  }
}

@media only screen and (max-width: 991px) {
  .hero {
    text-align: center;
    background-image: url(https://images.pexels.com/photos/917494/pexels-photo-917494.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding: 1rem !important;
    margin: 1rem !important;
  }

  .hero > .item__fluid > a{
    text-align: center !important;
  }
  
  .ui.horizontally.divided.grid {
    padding: 2rem !important;
  }

  .infoWrapper {
    position: relative;
    top: 1rem;
    right: 0;
    bottom: 0;
    width: 100%;
  }
}