@import url('https://fonts.googleapis.com/css?family=Seaweed+Script&display=swap');

h1.brand {
  font-family: 'Seaweed Script', cursive;
  font-size: 10rem;
  text-align: center;
  color: #000;
}

h2.brand {
  font-family: 'Seaweed Script', cursive;
  font-size: 6rem;
  text-align: center;
  color: #000;
}

.ui.menu.borderless {
  box-shadow: none;
  border: none;
  margin: 3rem 0;
}

.ui.menu .item,
.ui.menu .item__fluid {
  flex: 1 0 auto !important;
  justify-content: center;
  align-items: center;
}

.ui.segment {
  box-shadow: none !important;
  border: none !important;
}

.ui.dimmer {
  height: 100vh !important;
}